<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Create New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= editcampground._id %>?_method=PUT" method="post" novalidate
                class="needs-validation" enctype="multipart/form-data">
                <div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name='campground[title]' id="title" class="form-control"
                            value="<%= editcampground.title %>" required>
                        <div class="valid-feedback">
                            Looks fine
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="campground[location]" id="location" class="form-control"
                            value="<%= editcampground.location %>" required>
                        <div class="valid-feedback">
                            Looks fine
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Add images</label>
                        <input type="file" name="image" id="image" multiple>
                        <div class="valid-feedback">
                            Looks fine
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" class="form-control" id="price" placeholder="0" aria-label="price"
                                aria-describedby="price-label" name="campground[price]"
                                value="<%= editcampground.price %>" required>
                        </div>
                        <div class="valid-feedback">
                            Looks fine
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" name="campground[description]" id="description" class="form-control"
                            required><%= editcampground.description %></textarea>
                        <div class="valid-feedback">
                            Looks fine
                        </div>
                    </div>
                    <div class="mb-3">
                        <% editcampground.images.forEach(function (image, index) { %>
                            <img src="<%= image.thumbnail %>" alt="" class="img-thumbnail">
                            <div class="form-check-inline">
                                <input type="checkbox" name="deleteImages[]" id="image-<%= index %>" value="<%= image.filename %>">
                            </div>
                            <label for="image-<%= index %>">Delete ?</label>
                            <% }) %>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-info">Edit Campground</button>
                    </div>
            </form>
            <a href="/campgrounds">Back to Campgrounds</a>
        </div>
    </div>